<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fruitbasket.androidsamples"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--ui-->
        <activity android:name=".ui.adapterview.ExpandableListViewActivity"></activity>
        <activity android:name=".ui.adapterview.ListViewActivity"/>
        <activity android:name=".ui.layout.LinearLayoutActivity"/>
        <activity android:name=".ui.menu.ActionBarActivity" />
        <activity android:name=".ui.others.AlertDialogActivity"/>
        <activity android:name=".ui.others.NotificationActivity"/>

        <!--event-->
        <activity android:name=".event.CallBackActivity"/>
        <activity
            android:name=".event.ConfigurationActivity"
            android:configChanges="orientation">
            <!--
            configChanges使本Activity能够监听屏幕方向改变的事件
            -->
        </activity>
        <activity android:name=".event.HandlerActivity"/>
        <activity android:name=".event.AsyncTaskActivity"/>

        <!--activity-->
        <activity android:name=".activity.launch.FirstActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            >
            <!--
            exported指定该Activity是否允许被其他应用调用
            -->
        </activity>
        <activity android:name=".activity.launch.SecondActivity"
            android:exported="false"
            android:launchMode="singleInstance"/>

        <activity android:name=".activity.exchangedata.OriginActivity"
            android:exported="false"/>

        <activity android:name=".activity.exchangedata.TargetActivity"
            android:exported="false"/>

        <activity android:name=".activity.ActivityLifeCycle"
            android:exported="false"/>


    </application>

</manifest>